* {
  padding: 0px;
  margin: 0px;
}
p {
  border: 1px solid black;
  color: #004346;
  width: fit-content;
  background-color: #75dddd;
  font-size: 30px;
  width: fit-content;
  block-size: fit-content;
}
h2 {
  padding-top: 40px;
}

.ptag {
  display: flex;
  align-items: flex-start;
  
}
body {
  
  background-color: #63768d;
}
img {
  padding-right: 50px;
  object-fit:contain;
  
}
.imageP {
  padding: 20px;
}
.ptag > img {
  height: 500px;
  width: 400px;
  object-position: top center;
  
}



