*{
    margin: 0;
    padding: 0;

}
.toolbar{
   display: flex;
    background-color: beige;  
}
body{
    background-color:aliceblue;
}
a{
    padding-right: 20px;
 
}
img{
    padding-right: 750px;
}
p{
    padding-right: 20px;
}

.about{
    background-color: aquamarine;
}